<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Uskills Subscribtion</title>
    <style>
           *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-color: rgba(0, 217, 255, 0);
        }
        nav{
            margin: 0px 5px;
         background-color: lightgreen;
         height: 50px;
         text-align: left;
           
        }
        nav ul li {
            text-align: left;
            padding: 10px;
            list-style-type: none;
        }
        a{
            color: rgb(20, 18, 18);
            padding: 5px 0;
            text-decoration: none;
            font-size: 30px;
        }
      .other{
        margin: 10px;
        padding: 5px 0;
        text-align: center;
      }
      main{
        margin: 5px;
        padding: 5px 0;
      }
h2{ 
    padding: 0px 0px 20px 0;
}
      .h1{
        padding: 5px 0;
      }
#start-payment-button {
    cursor: pointer;
    position: relative;
    background-color: blueviolet;
    color: #fff;
    max-width: 30%;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    transition: all .1s ease-in;
}
</style>
</head>
<body>
    <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
        <div>
          SUBCRIPTION FEE is ₦4,500
        </div>
        <input type="hidden" name="public_key" value="FLWPUBK_TEST-SANDBOXDEMOKEY-X"/>
        <label> Name:</label>
        <input type="text" name="customer[name]"  placeholder="Enter Name" required>
        <label> Email:</label>
         <input type="text" name="customer[email]" placeholder="Enter Email" required>
         <label> Phone Number:</label>
         <input type="number" name="customer[phoneNumber]" placeholder="Enter Phone Number" required>
         <input type="hidden" name="tx_ref" value= "bitethtx-019203" />
        <input type="hidden" name="amount" value="4500" />
        <input type="hidden" name="currency" value="NGN" />
        <input type="hidden" name="meta[token]" value="54" />
        <input type="hidden" name="redirect_url" value="https://uskills.herokuapp.com/auth/dashboard" />
        <button type="submit" id="start-payment-button">Pay Now</button>
      </form>
</body>
</html>